body {
	background-color: #222;
	color: #eee;
	font-family: sans-serif;
	font-size: 0.95em;
}

.folded {
	background-image: url( "ngdocindex__tv_c_idle.png" );
	background-repeat: no-repeat;
	background-position: 0px 2px;
	padding-left: 16px;
	color: #39f;
	font-size: 1em;
	cursor: pointer;
}
.unfolded {
	background-image: url( "ngdocindex__tv_e_idle.png" );
	background-repeat: no-repeat;
	background-position: 0px 2px;
	padding-left: 16px;
	color: #39f;
	font-size: 1em;
	text-shadow: 0 0 1.5em #f74;
	cursor: pointer;
}

.treeview_branch {
	margin-top: 0.25em;
	margin-left: 1.5em;
	position: relative;
	display: none; /* hidden by default */
}

a:link, a:visited {
	color: #39f;
	text-decoration: none;
}
a:active {
	color: #ff0;
	text-decoration: none;
}

a:link, a:visited, .folded, .unfolded {
	transition: color 0.5s;
	-moz-transition: color 0.5s;
	-webkit-transition: color 0.5s;
	-o-transition: color 0.5s;
	-ms-transition: color 0.5s;
	transition: text-shadow 0.4s;
}

a:link:hover, a:visited:hover, .folded:hover, .unfolded:hover {
	color: #fa5;
	text-decoration: none;
	text-shadow: 0 0 1.5em #f74;
}

.folded:hover {
	background-image: url( "ngdocindex__tv_c_hover.png" );
}
.unfolded:hover {
	background-image: url( "ngdocindex__tv_e_hover.png" );
}
