body {
    background-color: #dddddd;
    font-family: sans-serif;
    font-size: 0.8em;
}
h1,h2,h3 {
    color: #88CCFF;
    font-weight: 100;
    height: 0.5em;
}
h1 {
    font-size: 3.4em;
    text-shadow: 0 0 0.2em #0000ff, 0 0 0.2em #000088, 0 0 0.2em #000044;
}
h2 {
    color: #66AAEE;
    font-size: 2.2em;
}
h3 {
    font-size: 1.5em;
}

#content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
	border-radius: 15px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 0px;
	padding-bottom: 8px;
}

td {
    vertical-align: top;
    padding-right: 2em;
}

a {
	text-decoration: underline;
}
a:link {
	color: #0022ff;
}
a:active {
	color: #ff00ff;
}
a:visited {
	color: #2233ee;
}
div.parm_desc a:hover, a:hover {
	color: #ffffff;
    background-color: #000088;
    text-decoration: none;
}
a:hover {
    margin-left: 4px;
}
div.parm_desc a:hover,a.code:hover {
    margin-left: 0px;
}

.cmd_list {
    font-family: monospace;
    font-size: 1.2em;
}
.parm {
    font-size: 1.2em;
    font-family: monospace;
    font-style: italic;
    background-color: #e5f0ff;
    color: #000022;
}
.cmd_ref {
    font-family: monospace;
    font-style: normal;
    color: #0000ff;
}
.parm_desc {
    margin-left: 2em;
    margin-bottom: 1em;
}

.code {
    font-family: monospace;
    font-size: 1.2em;
}
.kw {
    font-family: monospace;
    font-size: 1.2em;
    font-weight: bold;
    color: #0000ff;
}
